@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@300;400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #00BFFF;

}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}

img {
    padding-top: 10px;
}


label {
    color: white;
    margin-bottom: 30px;
    
    
}

input {
    box-shadow: 0px 10px 40px -12px #000080;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000080;
    width: 300px;
}

input::placeholder{
    color: black;

}


h1 {
    color: #000080;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.check-box {
    display: flex;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: space-evenly;
    align-items: normal;
    height: 20px;
    margin: 0 300px ;
    padding-top: 30px;
    padding-bottom: 30px;
}

.check-box input {
    height: 20px;
    margin: 0 100px;
    margin-left: 10px;
}





.document {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    padding: 16px 0px;
    margin: 25px;
}

.document input {
    padding: 16px 0px;
    margin: 25px;
}

.name {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}


.name input {
    padding: 16px 0px;
    margin: 25px;
}



.contact {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    padding: 16px 0px;
    margin: 25px;
}

.contact input {
    padding: 16px 0px;
    margin: 25px;
}


.email {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.email input {
    padding: 16px 0px;
    margin: 25px;
}


.senha {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.senha input {
    padding: 16px 0px;
    margin: 25px;
}

.contact input {
    padding: 16px 0px;
    margin: 25px;
}

.addressA {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.addressA input {
    padding: 16px 0px;
    margin: 25px;
}

.addressB {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.addressB input {
    padding: 16px 0px;
    margin: 25px;
}

.citystate {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.citystate input {
    padding: 16px 0px;
    margin: 25px
}

.date {
    display: flex;
    justify-content: center;   
    padding-left: 10px;
}

.date input {
    padding: 16px 0px;
    margin: 25px;
}

.savecancel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30px;
}

button {
    background-color: #00BFFF;    
    color: white;
    box-shadow: 0px 10px 40px -12px #000080;
    border-radius: 8px;
    width: 100px;
    height: 50px;
    
}



footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.backToStart {
    width: 100%;
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 20px;
    
}

