@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@300;400;600&display=swap');

@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

* {
    font-family: 'Poppins' sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #00BFFF;


}

.page-title {
    color: #000080;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding: 50px 0;
    font-size: 30px;
}

.content {
    display: flex;
 
}

section {
    flex: 1;

}

aside {
    background: #000080;
    min-width: 250px;
}

table {
    width: 100%;
    border-collapse: collapse;

}

tbody {
    tr {
        td {
            padding: 15px 0;
        }
    }

}

tr {
    border-bottom: 3px solid #eee;
}

th {
    text-align: left;
    padding-bottom: 16px;
    text-transform: uppercase;
    color: black;
}

.product {
    display: flex;
    align-items: center;
}

.info {
    margin-left: 20px;
}

.img {
    border-radius: 6px;
}

.name {
    font-size: 20px;

}

    
