@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@300;400;600&display=swap');


* {
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #00BFFF;


}



h1 {
    color: #000080;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1900px;

}

li {
    text-decoration: none;
    list-style: none;
}




footer {
    background-color: #00BFFF;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.container-car {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    text-align: center;
    align-items: center;
    max-width: 1800px;
    margin: 0 100px;
    
}

button {
    width: 40px;
    height: 40px;
    background-color: yellow;
    border: none;
    cursor: pointer;
    border-color: yellow;
}

input {
    width: 40px;
    height: 40px;
    background-color: yellow;
    justify-content: center;
    border: none;
    border-color: yellow;
}

fieldset {
    border: none;
    background-color: yellow;
    border-color: #000000;
}

.container-button {
    display: flex;

}

