
@import url('https://fonts.googleapis.com/css2?family= Lato: wght @300 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@300;400;600&display=swap');


* {
    font-family: "Poppins";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000080;
    text-decoration: underline;
    width: 100%;
}





button {
    color: #000080;
    

}


nav {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #0000CD;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;

}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul.open {
    left: 0;
}

nav ul li a.active,
nav ul li a.hover{
    background-color: #00BFFF;
}

div .container i{
    color: #f2f2f2;
    cursor: pointer;
    display: none;
    width: 100rem;
    height: 100rem;
}





@media (max-width: 920px){
    div .container i{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #003840;
        height: 100%;
        display: block;
        transition: all 0.3s ease;
    }
    nav ul.open{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a {
        font-size: 23px;
    }
    nav ul li a.active,
    nav ul li a.hover{
        background: none;
        color: #00BFFF;
    }
}